<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FICHIER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<!-- tournante quotidienne -->
      		<fileNamePattern>melscj.%d{yyyy-MM-dd}.log</fileNamePattern>
		
      		<!-- conserve un historique de 8 jours -->
      		<maxHistory>8</maxHistory>
    	</rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %level %logger{36} \(%file:%line\) - %msg%n</Pattern>
        </encoder>
    </appender>
 
    <logger name="org.springframework">
        <level value="INFO" />
    </logger>
 
  
    <logger name="org.springframework.security">
        <level value="INFO" />
    </logger>
 
    <root>
        <level value="INFO" />
        <appender-ref ref="FICHIER" />
    </root>
</configuration>